root {
    --textcolor: rgb(28, 225, 28)
}
* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(#034808, #665f5f);
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(0, 0, 0);
    color: var(--textcolor);
    width: 100%;
    top: 0px;
    z-index: 1;
    text-align: center;
    position: fixed;
}

nav {
    text-align: right;
    color: var(--textcolor);
    position: absolute;
    bottom: 0px;
    text-decoration: none;
}

main {
    margin: 4p;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: black;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 10px;
    flex-basis: 400px;
    width: 300px;
    height: 300px;
    color: white;
}

.card h2{
    padding: 20px;
    text-align: center;
    color: rgb(28, 225, 28);
    background-color: black;
    border-radius: 10px 10px 0px 0px;
}

.card p{
    text-align: center;
    color: var(--textcolor);
    background-color: black;
}

.card pre{
    margin: auto;
    user-select: all;
    color: white
}


footer {
    text-align: center;
}