* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(#e66465, #9198e5);
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(72, 142, 72);
    width: 100%;
    top: 0px;
    z-index: 1;
    text-align: center;
    position: fixed;
}

nav {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0px;
}

main {
    margin: 4p;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: black;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 10px;
    flex-basis: 400px;
    width: 300px;
    height: 300px;
    color: white;
}

.card h2{
    padding: 20px;
    text-align: center;
    
}

.card p{
    text-align: center;
}

.card pre{
    margin: auto;
    user-select: all;
}


footer {
    text-align: center;
}